# ignore log files
*.log
*.json
imdb_base_only.dump
*.sh
*.sql
*.pt
*.pkl
.DS_Store
**/.DS_Store
mscn/queries/
mscn/.lc_cache
mscn/results
mscn/runfile
join_sampling/embedding/join
join_sampling/embedding/single_table_allhit